#footer{
    heith: 90px;
    background-color: #2a6496;
    color:#5cf11a;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}